<%- include('./includes/head') %>
<%- include('./includes/nav') %>

<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8 my-3">
      <h1 class="text-center">Sua Agenda</h1>
      <%- include('./includes/messages') %>
      <%- include('./includes/contatos') %>
      <%- include('./includes/notes') %> 
    </div>
    <div class="col-lg-2"></div>
  </div>
</div>

<%- include('./includes/foot') %>